In [97]:
import pandas as pd
import csv

In [98]:
df7 = pd.read_csv('game_1.csv')
df7.columns = df7.columns.str.lower()
df7

,game_id,type,date_time,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz,season
0,2012030221,P,5/16/2013,3,6,2,3,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013
1,2012030222,P,5/19/2013,3,6,2,5,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013
2,2012030223,P,5/21/2013,6,3,2,1,away win REG,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013
3,2012030224,P,5/23/2013,6,3,3,4,home win OT,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013
4,2012030225,P,5/25/2013,3,6,1,3,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013
5,2012030311,P,6/2/2013,6,5,3,0,away win REG,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT,20122013
6,2012030312,P,6/4/2013,6,5,6,1,away win REG,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT,20122013
7,2012030313,P,6/6/2013,5,6,1,2,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013
8,2012030314,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013

In [99]:
df8 = pd.read_csv('game_5.dat',sep = '|')
df8

,game_id,season,type,date_time,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2.012030e+09,20122013.0,P,5/16/2013,3,6,2,3,home win OTTT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
1,2.012030e+09,20122013.0,P,5/19/2013,3,6,2,5,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
2,2.012030e+09,20122013.0,P,5/21/2013,6,3,2,1,away win REGGGG,right,Madison Square GardenNN,/api/v1/venues/null,America/New_York,-4,EDT
3,2.012030e+09,20122013.0,P,5/23/2013,6,3,3,4,home win OT,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT
4,2.012030e+09,20122013.0,P,5/25/2013,3,6,1,3,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
5,2.012030e+09,20122013.0,P,6/2/2013,6,5,3,0,away win REG,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT
6,2.012030e+09,20122013.0,P,6/4/2013,6,5,6,1,away win REG,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT
7,2.012030e+09,20122013.0,P,6/6/2013,5,6,1,2,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
8,2.012030e+09,20122013.0,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/nullQQQQ,AmericaNN/New_York,-4,EDT

In [100]:
comparison_df_mix = df7.merge(df8,indicator=True, how='outer')

In [101]:
comparison_df_mix

,game_id,type,date_time,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz,season,_merge
0,2012030221,P,5/16/2013,3,6,2,3,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,left_only
1,2012030222,P,5/19/2013,3,6,2,5,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,both
2,2012030223,P,5/21/2013,6,3,2,1,away win REG,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,left_only
3,2012030224,P,5/23/2013,6,3,3,4,home win OT,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,both
4,2012030225,P,5/25/2013,3,6,1,3,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,both
5,2012030311,P,6/2/2013,6,5,3,0,away win REG,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT,20122013,both
6,2012030312,P,6/4/2013,6,5,6,1,away win REG,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT,20122013,both
7,2012030313,P,6/6/2013,5,6,1,2,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,both
8,2012030314,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,left_only
9,2012030221,P,5/16/2013,3,6,2,3,home win OTTT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,right_only
10,2012030223,P,5/21/2013,6,3,2,1,away win REGGGG,right,Madison Square GardenNN,/api/v1/venues/null,America/New_York,-4,EDT,20122013,right_only
11,2012030314,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/nullQQQQ,AmericaNN/New_York,-4,EDT,20122013,right_only

In [102]:
comparison_df_filter = comparison_df_mix.loc[lambda x : x['_merge']!='both']

In [103]:
comparison_df_filter

,game_id,type,date_time,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz,season,_merge
0,2012030221,P,5/16/2013,3,6,2,3,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,left_only
2,2012030223,P,5/21/2013,6,3,2,1,away win REG,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,left_only
8,2012030314,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,left_only
9,2012030221,P,5/16/2013,3,6,2,3,home win OTTT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,right_only
10,2012030223,P,5/21/2013,6,3,2,1,away win REGGGG,right,Madison Square GardenNN,/api/v1/venues/null,America/New_York,-4,EDT,20122013,right_only
11,2012030314,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/nullQQQQ,AmericaNN/New_York,-4,EDT,20122013,right_only

In [104]:
df_not_matched = pd.DataFrame(columns = ['ID', 'Coulmn_name', 'Value'])

In [105]:
for name, group in comparison_df_filter.groupby(['game_id','season']):
    for i in range(len(group)) :
        if(i < len(group)-1):
            for j in range(len(group.columns)) :
                if(j < len(group.columns) -1):
                    if(group.iloc[i, j] != group.iloc[i+1, j]):                        
                        df_not_matched = df_not_matched.append({'ID' : name, 'Coulmn_name' : group.columns[j], 'Value' : (group.iloc[i, j],group.iloc[i+1, j])}, ignore_index = True)

In [106]:
df_not_matched.to_csv('notMatched_final_2.csv')
df_not_matched

,ID,Coulmn_name,Value
0,"(2012030221, 20122013)",outcome,"(home win OT, home win OTTT)"
1,"(2012030223, 20122013)",outcome,"(away win REG, away win REGGGG)"
2,"(2012030223, 20122013)",venue,"(Madison Square Garden, Madison Square GardenNN)"
3,"(2012030314, 20122013)",venue_link,"(/api/v1/venues/null, /api/v1/venues/nullQQQQ)"
4,"(2012030314, 20122013)",venue_time_zone_id,"(America/New_York, AmericaNN/New_York)"